#image {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;


}

#title {
  text-align: center;
}

#img-caption {
  text-align: center;
  padding-bottom: 40px
}

#tribute-info {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 2;
}
#headline {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    
}
#quote {
   margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.3;
    font-size: 22
}
#info {
  text-align: center;
  padding-bottom: 40px;
}
