* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background-image: url("wallpaper2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #080808;
  z-index: 10;
}

.nav-list {
  display: flex;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 5rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.4rem;
  padding: 2rem;
  padding-right: 5em;
  padding-left: 5em;
}

.nav-list a:hover {
  background: black;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  padding: 0rem 2rem;
}

.contact-section-header > h2 {
  font-size: 12rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 10rem;
  }
}

.contact-section-header > p {
  font-size: 6rem;
  padding-top: 4em;
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12em;
}

.contact-details {
  font-size: 3rem;
  transition: transform 0.3s ease-out;
  padding: 1em;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-top: 2px solid white;
}

footer > p {
  margin: 3.5rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
  }
}
